* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

/*BOTON FLOTANTE*/

.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    z-index: 100;
}

.whatsapp-container {
    display: flex;
    background: transparent;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.mensaje-bienvenida {
    margin-right: 10px;
    font-size: 16px;
}

.whatsapp-icon {
    width: 50px;
    height: 50px;
}

/* Mensaje emergente */
.mensaje-emergente {
    position: fixed;
    bottom: 100px;
    /* Ajusta esta distancia para colocar el mensaje cerca del botón */
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 101;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tech-stack span {
    background: rgba(139, 92, 246, 0.1);
    border: 1px solid rgba(139, 92, 246, 0.2);
    backdrop-filter: blur(4px);
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #8b5cf6;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}


.highlight {
    color: #a78bfa;
}

.tech {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.rounded-bg {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

#contact {
    margin: 2rem;
}

  